@font-face {
    font-family: 'FormaDJR';
    src:    url('/styles/user/fonts/formaDJR/FormaDJRText-Regular.eot');
    src:    url('/styles/user/fonts/formaDJR/FormaDJRText-Regular.eot?#iefix') format('embedded-opentype'),
            url('/styles/user/fonts/formaDJR/FormaDJRText-Regular.woff') format('woff'),
            url('/styles/user/fonts/formaDJR/FormaDJRText-Regular.woff2') format('woff2'),
            url('/styles/user/fonts/formaDJR/FormaDJRText-Regular.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
  }
