@font-face {
    font-family: 'Forma DJR Text';
    src:    url('/styles/user/fonts/formaDJR/FormaDJRText-Regular.eot');
    src:    url('/styles/user/fonts/formaDJR/FormaDJRText-Regular?#iefix') format('embedded-opentype'),
            url('/styles/user/fonts/formaDJR/FormaDJRText-Regular.woff') format('woff'),
            url('/styles/user/fonts/formaDJR/FormaDJRText-Regular.woff2') format('woff2'),
            url('/styles/user/fonts/formaDJR/FormaDJRText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'InputSans';
    src:    url('/styles/user/fonts/inputsans/InputSans-Regular.eot');
    src:    url('/styles/user/fonts/inputsans/InputSans-Regular?#iefix') format('embedded-opentype'),
            url('/styles/user/fonts/inputsans/InputSans-Regular.woff') format('woff'),
            url('/styles/user/fonts/inputsans/InputSans-Regular.woff2') format('woff2'),
            url('/styles/user/fonts/inputsans/InputSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'ManifoldExtended';
    src:    url('/styles/user/fonts/manifoldextended/ManifoldExtendedCFRegular.eot');
    src:    url('/styles/user/fonts/manifoldextended/ManifoldExtendedCFRegular?#iefix') format('embedded-opentype'),
            url('/styles/user/fonts/manifoldextended/ManifoldExtendedCFRegular.woff') format('woff'),
            url('/styles/user/fonts/manifoldextended/ManifoldExtendedCFRegular.woff2') format('woff2'),
            url('/styles/user/fonts/manifoldextended/ManifoldExtendedCFRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Optima';
    src:    url('/styles/user/fonts/optima/Optima.eot');
    src:    url('/styles/user/fonts/optima/Optima.eot?#iefix') format('embedded-opentype'),
            url('/styles/user/fonts/optima/Optima.woff') format('woff'),
            url('/styles/user/fonts/optima/Optima.woff2') format('woff2'),
            url('/styles/user/fonts/optima/Optima.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Scriptorama';
    src:    url('/styles/user/fonts/scriptorama/ScriptoramaTradeshowJF.eot');
    src:    url('/styles/user/fonts/scriptorama/ScriptoramaTradeshowJF.eot?#iefix') format('embedded-opentype'),
            url('/styles/user/fonts/scriptorama/ScriptoramaTradeshowJF.woff') format('woff'),
            url('/styles/user/fonts/scriptorama/ScriptoramaTradeshowJF.woff2') format('woff2'),
            url('/styles/user/fonts/scriptorama/ScriptoramaTradeshowJF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
